/* @group rest */
a {
    text-decoration : none;
}

ul , ol{
    list-style : none;
}

img{
    vertical-align : middle;
}

/* @end*/

img {
    max-width : 100%;
}

html {
    font-family : verdana, sans-serif;
    font-size : 100%;
    line-height : 1.5;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom : 24px;
}

header{
    text-align : center;
    padding-top : 24px;
    background : white;
}

header h1{
    margin-bottom : 24px;
}

footer{
    clear : both;
    margin-top: 40px;
    font-size: small;
}

nav {
    width : 89.796875%;;
    height : 80px;
    //margin-bottom : 24px;
    background-color:#1ABC9C;
    margin : 0 auto;
}

.select.select-block {
    width: 50%;
}

nav ul {
    overflow : hidden;
}

nav ul li {
    display : block;
   // float : left;
}

nav ul li .nav_menu a{
    width : 30%;
    text-align : left;
    margin-left : auto ;
    margin-right : 0;
    //margin-right : 3%;
    display : block;
    //float : right;
}

.nav_menu{
    margin-left : 63%;
}

nav ul li form{
    margin-top : 20px;
    float : left;
}

nav a{
    margin-top:3px;
    font-size:large;
    color : black;
}

nav a:hover{
    color : white;
}

select {
    background-color : #2ECC71;
    border : #2ECC71;
}

#book_area{
    padding-top:10px;
    padding-bottom:5px;
    width:100%;
}

a#book_img{
}

a#all_books{
    margin : 0 0 5px 0;
}

p#contents{
    clear : left;
    text-align:left;
    margin : 0 0 5px 5px;
}

p#memo{
    text-align : left;
    margin-left : 10px;
}

p#tag{
    padding : 3px;
    display : inline-block;
    margin : 0 0 0 2px;
    float:left;
    border-radius: 6px;
    color : white;
    font-size : small;
}

#tweet_content{
    border-radius: 8px;
}

#delete_contents{
    text-align : right;
}

#delete_contents button{
    color : #c0c0c0;
    border : 0;
    background : none;    
}

#delete_contents button:hover{
    color : black;
    border : 2;
    background-color : #F1C40F ;
    border-radius: 8px;
    filter:alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity:0.85;
}


@media screen and (min-width : 768px){
#content .sub {
    width :  98.7%;
}
.ad1{
    margin-left : 15%;
    float : left;
}
nav {
    height : 30px;
}
nav ul li a{
    width : auto;
    margin-left : 3%;
    display : inline;
    float : left;
}

nav ul li form{
    margin-top : 0;
    float : left;
}
}

@media screen and (min-width : 1024px){
nav{
    width : 90.35%;
}
nav ul {
    width : 93.796875%;
    margin : 0 auto;
}
#content {
    overflow : hidden;
    width : 94.75%;
}
#content .main{
    float : left;
    margin : 0 1%;
    width : 65%;
}

#content .sub {
    height : 100%;
    float : right;
    width : 30%;
    padding: 5px;
}
nav ul li form{
    width : 20%;
}

.nav_menu{
    margin-left : 70%;
}

.ad_wrap{
    margin-bottom : 60px;
}
.ad1{
    float : none;
    margin-left : 0%;
    margin-top : 60px;
}
.ad2{
    margin-top :60px;
}

}

#content {
    border-style : none groove none groove;
    width : 90%;
    margin : 0 auto;
    background-color:#ECF0F1;
}

#content .main,
#content .sub{
    height : 100%;
    text-align : center;
}
#content .sub{
    background-color:#3498DB;
    padding: 5px;
}
footer {
    width : 90.35%;
    margin : 0 auto;
    color : white;
    text-align : center;
    padding : 24px 0;
    background-color:#16A085;
}

/* @Progress-bar*/
#loadingSection {
    display : block;
    width : 100%;
    height : 200px;
}

#bar {
    display: block;
    width : 80%;
    margin-left : 10%;
    margin-bottom : 20px;
    height: 20px;
    background-color: #f5f5f5;
}

#bar span {
    display: block;
    width: 0;
    height: 15px;
    background-color: #ff3366;
} 


#download {
    float: left;
    margin-right: 10px;
}

#loadingSection p {
    
    padding-top : 17%;
    padding-left : 10%;
    font-family: Arial;
    font-weight: bold;
    font-size:15px;
    
}​

#loadText {
    font-size:14px;
}
/* @end*/