<!DOCTYPE html>
<html lang="ja">
  <head>
<meta name="google-site-verification" content="Dta6H_TUir9hWbzvvHa2-d7P3vgUMnnTfbwR6mwWTNg" />
    <meta charset="UTF-8" /> 
    <title>marosf</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/css/flat-ui.css" />
    <link type="text/css" rel="stylesheet" href="stylesheets/top.css" />
    <STYLE type="text/css">
    body {
      background-image: url("img/marosf_top.png"); /* 全体の背景画像 */
      background-repeat: no-repeat;            /* 背景を繰り返さない */
    }
</STYLE>
  </head>
  <body>
     <!--  <img class="login_button" src="img/social-connect.png" alt="" /> -->
     <!-- <img class="use" src="img/howtouse.png" alt="" /> -->
    <div id="button">
      <div id="login-button">
        <a href="/login" class="btn btn-large btn-block btn-info">Login with Twitter of kindle</a>
      </div>
      <div id="use">
        <a href="http://oneknowledge.xsrv.jp/archives/706" target="blank" class="btn btn-large btn-block btn-primary">How to use?</a>
      </div>
    </div>
  </body>
</html>