<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" /> 
    <title>marosf</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/css/flat-ui.css" />
    <link type="text/css" rel="stylesheet" href="stylesheets/top.css" />
    <STYLE type="text/css">
    body {
      margin:0;
      padding:0;
      width:1024px;
      height:300px;
      background-image: url("img/marosf_top.png"); /* 全体の背景画像 */
      background-repeat: no-repeat;            /* 背景を繰り返さない */
    }
</STYLE>
  </head>
  <body>
     <!--  <img class="login_button" src="img/social-connect.png" alt="" /> -->
     <!-- <img class="use" src="img/howtouse.png" alt="" /> -->
    <div id="button">
      <div id="login-button">
        <a href="/main" class="btn btn-large btn-block btn-info">Let's Get Your Tweet♬♪</a>
      </div>
      <div id="use">
        <a href="#fakelink" class="btn btn-large btn-block btn-primary">How to use?</a>
      </div>
      <div class="progress">
        <div class="bar" style="width: {{progress}}%;"></div>
      </div>
    </div>
  </body>
</html>